<footer class="bg-dark text-light" style="width: 100%; position: fixed; bottom: 0; left: 0;">
    <div class="text-center" style="background-color: #333; padding: 20px;">
        &copy 2022 Copyright: Prova Dev Web!
    </div>
</footer>